### 4th data type tuple :-

#### Tuple:- Tuple is a sequence, iterable ,  immutable ,ordered, data type in python.   Tuple is define by using ( )  symbol.

In [6]:
a=('c','c++','java','python')

In [7]:
print(type(a))

<class 'tuple'>

In [9]:
print(a[2])

java

In [4]:
print(a[1:4])

('c++', 'java', 'python')

In [10]:
print(len(a))

4

In [11]:
print(max(a))

python

In [18]:
print(min(a))

c

In [16]:
b = ("97" , "99" , "099")
print(min(b))
print(max(b))

099
99

In [6]:
l1 = [1 , 2, 3, 4 ,5 ,6 , 7 ]
swap1 = int(input("Enter the index no "))
swap2 = int(input("Enter the index no "))
temp = l1[swap1-1]
l1[swap1-1] = l1[swap2-1]
l1[swap2-1] = temp
print(l1)

Enter the index no  1
Enter the index no  2

[2, 1, 3, 4, 5, 6, 7]

### string formating 2nd data type

In [19]:
name = input("Enter name")
number = input("enter branch ")
mail = "Dear {} your mobile no is {}  . thanks for taking our service ".format(name , number)
print(mail)

Enter name habib
enter branch  1234567

Dear habib your mobile no is 1234567  . thanks for taking our service

In [10]:
a=32
b=21
c=a+b

print('the sum of %d and %d is %d'%(a,b,c))  ## the sum of 32 & 21 is 53

the sum of 32 & 21 is 53

In [11]:
print('the sum of {} and {} is {}'.format(a,b,c) )  ## the sum of 32 and 21 is 53
print('the sum of { 0 } and {1} is {2}'.format(a,b,c) )  ##  the sum of32 and 21 is 53

the sum of 32 and 21 is 53
the sum of32 and 21 is 53

### 5th data type dictionary:-

### Dictionary:-
- Sequential ,mutable, unordered
- defined by { } symbol
- Each key is separated by its value from its colon ( : )value. The item are separated by comma ( , ) whole thing is enclosed in  curly brakets {  }.
#### Property:-
- More than 1 entry per key is not allowed . This mean “ no duplicate key is allowed “
    when duplicate key is encountered during assignment the last assignment will win.
- keys must be immutable this means you can use string ,number,tuple, while values can be of any sort of data type.

In [7]:
d =  { 'name':'hrkhan' ,'age':20  , 'class':'python','mobile':[8768566541 , 6596549684596 ]    }

In [9]:
print(d["mobile"][1])

6596549684596

In [10]:
a = {'name':['hr','khan',3,4,5],'age':20,'class':'python','mobile':8768566541}

In [11]:
print(a)

{'name': ['hr', 'khan', 3, 4, 5], 'age': 20, 'class': 'python', 'mobile': 8768566541}

In [12]:
print(a.items())

dict_items([('name', ['hr', 'khan', 3, 4, 5]), ('age', 20), ('class', 'python'), ('mobile', 8768566541)])

In [13]:
print(a.keys())

dict_keys(['name', 'age', 'class', 'mobile'])

In [30]:
print(a.values())

dict_values([['hr', 'khan', 3, 4, 5], 20, 'python', 8768566541])

In [30]:
a = {"A" : 5 , "B" : 4 , "C" : 6 , "D": 7 }

In [31]:
print(a.keys())
print(a.values())
a["name"] = "saman"

dict_keys(['A', 'B', 'C', 'D'])
dict_values([5, 4, 6, 7])

In [32]:
a.pop("name")

'saman'

In [35]:
a

{'A': 5, 'B': 4, 'C': 6, 'D': 7}

In [36]:
del a["A"]

In [43]:
if "F" in a:
    a["F"] = a["BF"] + 1 
else:
    a["F"] = 1

In [44]:
a

{'B': 6, 'C': 6, 'D': 7, 'F': 1}

In [60]:
l1 = [("a" , 1 ), ("b" , 3 ) , ("c"  , 4 )]
dic= dict(l1)
print(dic)

{'a': 1, 'b': 3, 'c': 4}

### 6th Data Type  sets :-

### Set:-
- Set is a unique , individual sequencial, mutable , iterable , data type in python.
- Set does not support duplicate item. it does not support indexing & slicing.

In [45]:
a = {1 , 2, 3,4  , 4, 5 }

In [46]:
print(type(a))

<class 'set'>

In [47]:
print(a)

{1, 2, 3, 4, 5}

In [48]:
a = [ 1,  2 ,  3 ,  4 ,  5 ,  5  , 3 , 4 ]
a = list(set(a))

In [49]:
print(a)

[1, 2, 3, 4, 5]

In [50]:
a = { "a " , "assd" , "fff" , "deew" , "eEeeee"}

In [51]:
print(a)

{'fff', 'a ', 'assd', 'deew', 'eEeeee'}

In [52]:
a.add("adnan")

In [53]:
print(a)

{'fff', 'a ', 'adnan', 'assd', 'deew', 'eEeeee'}

In [54]:
a.pop()

'fff'

In [55]:
a.remove("adnan")

In [56]:
print(a)

{'a ', 'assd', 'deew', 'eEeeee'}

#### Data types conversion : -

- int( )    convert data type in integer value.
- float( )   convert data type in float value.
- complex( )  convert data type in complex no.
- str( ) convert data type in string. 
- list( )   convert data type in list.
- tuple( ) convert data type in tuple.
- dict( )  convert data type in dictionary.
- set( )     convert data type in set .
- frozenset( ) convert data type in frozenset.

### Conditional statement:-
- if   statement
- elif statement
- else statement

In [71]:
num = int(input())
if (num > 0):
    print("+ve number " )
elif (num< 0 ):
    print("-ve number")
else:
    print("number is 0")

 0

number is 0

In [61]:
a=int(input("enter the 1st no:-" ))
b=int(input("enter the 2nd no:- "))
c=int(input("enter the 3rd no:- "))

if (a>b and a>c):
        print("a is greatest: ")
elif b>c:
     print("b is greatest")
elif c>b:
    print("c is greatest")
else:
     print("all r same ")

enter the 1st no:- 1
enter the 2nd no:-  1
enter the 3rd no:-  1

all r same

In [64]:
a=int(input("enter the 3rd no:- "))
if a%2==0 and a%3==0:
    print("dividide by 2 and 3 ")
elif a%2==0:
    print("dividide by 2")
elif a%3==0:
    print("dividide by 3")

else:
    print("not dividide by 2 and 3 ")

enter the 3rd no:-  6

dividide by 2 and 3