### 4th data type tuple :-

#### Tuple:- Tuple is a sequence, iterable ,  immutable ,ordered, data type in python.   Tuple is define by using ( )  symbol.

In [1]:
a=('c','c++','java','python')

In [2]:
print(type(a))

<class 'tuple'>

In [3]:
print(a[3])

python

In [4]:
print(a[1:4])

('c++', 'java', 'python')

In [5]:
print(len(a))

4

In [6]:
print(max(a))

python

In [7]:
print(min(a))

c

### string formating 2nd data type

In [10]:
a=32
b=21
c=a+b
print('the sum of %d & %d is %d'%(a,b,c))  ## the sum of 32 & 21 is 53

the sum of 32 & 21 is 53

In [11]:
print('the sum of {} and {} is {}'.format(a,b,c) )  ## the sum of 32 and 21 is 53
print('the sum of{0} and {1} is {2}'.format(a,b,c) )  ##  the sum of32 and 21 is 53

the sum of 32 and 21 is 53
the sum of32 and 21 is 53

### 5th data type dictionary:-

In [19]:
d =  { 'name':'hrkhan' ,'age':20  , 'class':'python','mobile':[8768566541 , 6596549684596 ] , 1 : "adnan"   }

In [23]:
print(d["mobile"][1])

6596549684596

In [24]:

a = {'name':['hr','khan',3,4,5],'age':20,'class':'python','mobile':8768566541}

In [25]:
print(a)

{'name': ['hr', 'khan', 3, 4, 5], 'age': 20, 'class': 'python', 'mobile': 8768566541}

In [26]:
print(a.items())

dict_items([('name', ['hr', 'khan', 3, 4, 5]), ('age', 20), ('class', 'python'), ('mobile', 8768566541)])

In [27]:
print(a.keys())

dict_keys(['name', 'age', 'class', 'mobile'])

In [30]:
print(a.values())

dict_values([['hr', 'khan', 3, 4, 5], 20, 'python', 8768566541])

In [33]:
b={1:'hello',2:'bye' }

In [34]:
b["name"] = "adnan"

In [36]:
b[1] = "hello everyone"

In [38]:
b.pop(2)

'bye'

### 6th Data Type  sets :-

### Set:-
- Set is a unique , individual sequencial, mutable , iterable , data type in python.
- Set does not support duplicate item. it does not support indexing & slicing.

In [42]:
a = {1 , 2, 3,4  , 4, 5 }

In [43]:
print(type(a))

<class 'set'>

In [51]:
print(a)

{1, 2, 3, 4, 5}

In [54]:
a = [ 1,  2 ,  3 ,  4 ,  5 ,  5  , 3 , 4 ]
a = list(set(a))

In [55]:
print(a)

[1, 2, 3, 4, 5]

In [56]:
a = { "a " , "assd" , "fff" , "deew" , "eEeeeë"}

In [57]:
print(a)

{'fff', 'a ', 'deew', 'eEeeeë', 'assd'}

In [58]:
a.add("adnan")

In [59]:
print(a)

{'fff', 'a ', 'adnan', 'deew', 'eEeeeë', 'assd'}

In [62]:
a.pop()

'a '

In [63]:
a.remove("adnan")

In [64]:
print(a)

{'deew', 'eEeeeë', 'assd'}

#### Data types conversion : -

- int( )    convert data type in integer value.
- float( )   convert data type in float value.
- complex( )  convert data type in complex no.
- str( ) convert data type in string. 
- list( )   convert data type in list.
- tuple( ) convert data type in tuple.
- dict( )  convert data type in dictionary.
- set( )     convert data type in set .
- frozenset( ) convert data type in frozenset.

### Conditional statement:-
- if   statement
- elif statement
- else statement

In [71]:
num = int(input())
if (num > 0):
    print("+ve number " )
elif (num< 0 ):
    print("-ve number")
else:
    print("number is 0")

 0

number is 0

In [72]:
a=int(input("enter the 1st no:-" ))
b=int(input("enter the 2nd no:- "))
c=int(input("enter the 3rd no:- "))

if a>b and a>c:
        print("a is greatest: ")
elif b>c:
     print("b is greatest")
elif c>b:
    print("c is greatest")
else:
     print("all r same ")

enter the 1st no:- 12
enter the 2nd no:-  12
enter the 3rd no:-  12

all r same

### Loop :-
- While loop
- For loop
- Do while


#### While loop:-
- Repeat a statement or group of statement while a given condition is true. 
- It test the condition before executing the loop body.

#### For loop:-
- It excite a sequence of statement multiple time and appropriate the code that manages the loop variable.

- While expression:
 - Statement 
  - Body / suite

In [77]:
a=int(input("enter n " ))
i = 1
while(i<=a):
    
    print(i)
    i+=1

enter n  10

1
2
3
4
5
6
7
8
9
10