### Arithematic Operator

In [1]:
a = 5
b = 2 
print(a*b)

10

### comparison operator:-
###  > greater than 50 > 10 
###  < 
### >=
### <=
### ==
### !=

In [2]:
a  != b ##

True

In [3]:
a=9
b=2
c=a%b
d=a//b
print(c)   ## 1
print(d)   ## 4
print(2**5)   ##  32
a=5
b=7
a-=b     ## 5 - 7
print(a)  ##  -2
print(b)  ## 7

1
4
32
-2
7

In [4]:
name = "adnan"

In [5]:
print(type(name))

<class 'str'>

In [6]:
d = name[0] + name[1] + name[2]

In [7]:
print(name[ 2: ])

nan

### Slicing of String

In [8]:
a = "hrkhan"
b="hello this is hrkhan"
print(a+b)
print(c)

hrkhanhello this is hrkhan
1

In [9]:
print("length of a " , len(a))
print("length of b " , len(b))

length of a  6
length of b  20

In [10]:
a=45.89
b= 45
c=a-b
print(c)        ## 0.8900000000000006







a=9
b=2
c=a%b
d=a//b
print(c)   ## 1
print(d)   ## 4
print(2**5)   ##  32
a=5
b=7
a-=b
print(a)  ##  -2
print(b)  ## 7

0.8900000000000006
1
4
32
-2
7

In [11]:
print(type(a))  ##   <class 'float'>
print(type(b))   ##   <class 'int'>
V=3.4J

<class 'int'>
<class 'int'>

In [12]:
print(type(V))   ##    <class 'complex'>
a= 3+5j
b=6+7j
print(a+b)

<class 'complex'>
(9+12j)

In [13]:
a = "this is hrkhan "
b="    hello this is hrkhan"
c= a+b
print(c)    ##this is hrkhan     hello this is hrkhan

this is hrkhan     hello this is hrkhan

In [14]:
a = "Adnan is learning"

In [15]:
print(a)

Adnan is learning

### importing module & library math

In [16]:
import math

In [17]:
print(dir(math))

['__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [18]:
math.sqrt(25)

5.0

In [19]:
math.pow(2 ,   8)

256.0

In [20]:
print(math.log2(32))

5.0

In [ ]:
print(math.floor(23.4))

In [ ]:
print(math.ceil(23.4))

In [ ]:
print(math.factorial(34))

In [ ]:
a = "Adnan"

In [ ]:
print(len(a))
print(a*3)

In [ ]:
print(a.capitalize())

In [ ]:
print(a.upper())

In [ ]:
print(a.lower())

In [ ]:
a = "123Df"
print(a.isupper())
print(a.islower())
print(a.isnumeric())

In [ ]:
a="python is an awesome programming language"

In [ ]:
print(a.split())

### List

In [ ]:
lt= [2 , "adnan" , "abid"  ,'noumaan' ]

In [ ]:
print(type(lt))

In [ ]:
print(lt)

In [ ]:
print(lt[1][2]+lt[2][1])

In [ ]:
print(len(lt))

In [ ]:
print(lt[1:4])

In [ ]:
a = [1,4,45,6 ,19]

In [ ]:
print(a)
a.clear()

In [ ]:
print(a)

In [ ]:
a.append(34)

In [ ]:
print(a)

In [ ]:
a.insert(3 , 35)

In [ ]:
print(a)

In [ ]:
a.pop()

In [ ]:
a.sort() ## asending

In [ ]:
a.sort(reverse=True) ## desending

In [ ]:
print(a)

In [ ]:
print(min(a))
print(max(a))

In [ ]:
print(a*3) ##   pythonpythonpython
print(a.capitalize())  ## Python
print(a.count('y'))     ## 1
print(a.upper())        ## PYTHON
print(a.lower())       ##python
print(a.isupper())  ##   false
print(a.islower())  ##    true
print(a.isalnum())    ## true
print(a.isalpha())      ##  true
print(a.isnumeric())   ## false
a="python is an awesome programming language"
print(a.split())   ## ['python', 'is', 'an', 'awesome', 'programming', 'language']   return a list.
print(a.split("a")) ## ['python is ', 'n ', 'wesome progr', 'mming l', 'ngu', 'ge']


### Data types conversion : -

#### int( )    convert data type in integer value.
#### float( )   convert data type in float value.
#### complex( )  convert data type in complex no.
#### str( ) convert data type in string. 
#### list( )   convert data type in list.

In [ ]:
a = 23

In [ ]:
b = str(a)

In [ ]:
print(b , a  , type(b ) , type(a))

### Take input from User

In [ ]:
a =  input("Enter the val ")

In [ ]:
print(type(a))

### program to Add to number from user

In [25]:
a  = int(input("Enter the first no "))
b = int(input("Enter the second  no "))
c = a + b 
print("sum  of  " ,a , " and   " , b  , "  is  ", c)

Enter the first no  12
Enter the second  no  13

sum  of   12  and    13   is   25

 12 13

'12 13'